body {
  font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
  letter-spacing: -.17px !important;
}

.display-4 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0px;
}

@media (max-width:1000px) {
  .display-1 {
    font-size: 4rem;
  }
}

@media (max-width:800px) {
  .display-1 {
    font-size: 3rem;
  }
}

@media (max-width:600px) {
  .display-4 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0px;
  }

  .display-1 {
    font-size: 2.5rem;
  }
}

@media (max-width:540px) {
  .display-4 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0px;
  }

  .display-1 {
    font-size: 2rem;
  }
}

a {
  text-decoration: none;
  color: #000 !important;
  cursor: pointer;
  text-overflow: ellipsis;
}

a:hover {
  text-decoration: none;
}

#branded {
  background: #000;
  color: white;
  text-transform: uppercase;
  font-family: 'Stylish', sans-serif;
}

.textColorLighter {
  color: rgba(0, 0, 0, .15) !important;
  fill: rgba(0, 0, 0, .15) !important;
}